/** CSS STYLE **/
:root {
    --color-white: #fff;
    --color-white-transparent: #d7ccc0;
    --color-light: #f5f4f0;
    --color-main: #fe8a02;
    --color-main-dark: #42413c;
    --color-dark: #2a2626;
    --color-dark-transparent: #908d8b;
    --color-braun: #b09a81;
    --color-blue: #1085c5;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Neucha';
    src: url('../assets/fonts/Neucha/Neucha-Regular.ttf');
}


h1 {
    font: 72px/1.2em 'Neucha';
}

h2 {
    font: 60px/1.2em 'Neucha';
}

h3 {
    font: 34px/1.2em 'Neucha';
}

.text {
    font: 16px/1.6em 'Open Sans';
    color: var(--color-dark);
}

.color-main {
    color: var(--color-main);
}

.color-dark {
    color: var(--color-dark);
}

.color-light {
    color: var(--color-light);
}

.color-white {
    color: var(--color-white);
}

.color-dark-transparent {
    color: var(--color-dark-transparent);
}

.color-white-transparent {
    color: var(--color-white-transparent);
} 

.color-braun {
    color: var(--color-braun);
}

section {
    width: 1440px; 
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    top: 0;
    left: 0;
}

.background-light {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 0;
    background: var(--color-light);
}

.background-light::before {
    display: block;
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;

    left: 0;
    right: 0;

    background: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 10%;

    content: '';
}

.background-dark {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 0;
    background: var(--color-braun);   
}

.background-dark::before {
    display: block;
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;

    left: 0;
    right: 0;

    background: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 10%;

    content: '';
}

.title {
    position: relative;
    margin: 0;
    left: 165px;
    text-align: left;
    max-width: 1110px;
    margin-bottom: 185px;
}

.title-image {
    position: absolute;
    display: block;
    height: 525px;
    top: -45px;
    left: 296px;
}

.column-2 {
    display: flex;
    max-width: 1110px;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 165px;
    padding-top: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-item {
    flex: 1 1 0;
    margin: 0 30px 0 0;
}
.align-left {
    text-align: left;
}

/*body {
    width: 1440px;
}*/

.margin-0 {
    margin: 0;
}

.button {
    background: var(--color-main);
    border: none;
    color: var(--color-white);
    font: bold 16px/1.6em 'Open Sans';
    padding: 12px 24px;
    margin-top: 40px;
}

.video-content {
    position: absolute;
    top: 914px;
    text-align: center;
    background: var(--color-white);
    padding-bottom: 0;
    width: 100%;
}

.video {
    position: relative;
    margin-top: 30px;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
    z-index: 2;
}

.card {
    width: 100%;
    position: absolute;
    top: 1728px;
    background: var(--color-main-dark); 
    z-index: 1;
    padding-top: 200px;
    /*display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 30px;*/
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 20px 30px;
  
    padding-right: 165px;
    padding-left: 165px;
    /*justify-content: space-between;*/
}

.card h1 {
    font-size: 52px;
}

.card-item h3 {
    margin: 0;
}

.card-item p {
    margin: 0;
}
.white-block {
    background: var(--color-light);
    display: block;
    text-decoration: none;
    padding: 24px 24px;
}

.white-block:hover {
    background: var(--color-main);
    color: var(--color-light);
}

.white-block:hover h3 {
    color: var(--color-light); 
}

.white-block:hover p {
    color: var(--color-light); 
}

.number {
    font: 64px/1em 'Neucha';
    color: var(--color-main-dark);
    padding: 0 0 40px 0;
    margin: 0;
}

.card-item {
    text-align: left;
   
    width: 350px;
    height: 323px;
    box-sizing: border-box;
    
}

#ikea-effect {
    display: flex;
    position: absolute;
    top: 2695px;

    /*padding-top: 100px;
    padding-bottom: 100px;*/
}

.image_1 {
    vertical-align: middle;
    width: 578px;
    height: 434px;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.topic {
    font: 24px 'Neucha';
}

.description {
    font: 34px 'Neucha';
}

.bar {
    width: 1110px;
    height: 26px;
    position: absolute;
    left: 165px;
    top: 576px;
    margin-top: 100px;
    margin-bottom: 20px;   
}

.dark-bar {
    background: var(--color-braun);
    /*width: 1110px;
    height: 26px;
    position: absolute;
    left: 165px;
    top: 576px;
    margin-top: 100px;
    margin-bottom: 20px;*/
}

.light-bar {
    background: var(--color-white);
}

.bar p {
    padding: 5px 10px;
    align-items: center;
    font: normal bold 14px/17px 'Open Sans';
}

.down-position {
    position: absolute;
    top: 680px;
}

#premature-optimization {
    display: flex;
    position: absolute;
    top: 3655px;

    /*padding-top: 100px;
    padding-bottom: 100px;*/
}

#distortion-of-novelty {
    display: flex;
    position: absolute;
    top: 4555px;
}

#hyperbolic-depreciation{
    display: flex;
    position: absolute;
    top: 5455px;
}

#errors-in-planning {
    display: flex;
    position: absolute;
    top: 6355px; 
}