/** CSS STYLE **/

/** BASIC **/
* {
  margin: 0;
  padding: 0;
}

body {
  color: var (--color-dark);
  font: 16px/1.6em 'Open Sans', sans-serif;
}

section {
  top: -100px;
}

.hidden {
  overflow: hidden;
}

.decoration-none {
  text-decoration: none;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.text {
  color: var(--color-dark);
  font: 16px/1.6em 'Open Sans', sans-serif;
}

.container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 1110px;

  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.flex-item {
  flex-grow: 1;
  width: calc(50% - 20px);
}

/** FONTS **/
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Neucha";
  src: url("../assets/fonts/Neucha/Neucha-Regular.ttf");
}

.fs-52 {
  font: 52px 'Neucha', sans-serif;
}

.fs-18 {
  font: 18px 'Open Sans', sans-serif;
}

.fs-12 {
  font: 12px 'Open Sans', sans-serif;
}

.fs-14 {
  font: 14px 'Open Sans', sans-serif;
}

.fs-24 {
  font: 24px 'Neucha', sans-serif;
}

.fs-34 {
  font: 34px 'Neucha', sans-serif;
}

/** COLORS **/
:root {
  --color-white: #fff;
  --color-white-transparent: #d7ccc0;
  --color-light: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #42413c;
  --color-dark: #2a2626;
  --color-dark-transparent: #908d8b;
  --color-braun: #b09a81;
  --color-blue: #1085c5;
}

.color-main {
  color: var(--color-main);
}

.color-dark {
  color: var(--color-dark);
}

.color-light {
  color: var(--color-light);
}

.color-white {
  color: var(--color-white);
}

.color-dark-transparent {
  color: var(--color-dark-transparent);
}

.color-white-transparent {
  color: var(--color-white-transparent);
}

.color-braun {
  color: var(--color-braun);
}

.color-blue {
  color: var(--color-blue);
}

/** TITLES **/
h1 {
  font: 72px/1.2em 'Neucha', sans-serif;
}

h2 {
  font: 60px/1.2em 'Neucha', sans-serif;
}

h3 {
  font: 34px/1.2em 'Neucha', sans-serif;
}

/** MARGINS & PADDINGS **/
.mt-190 {
  margin-top: 190px;
}

.mr-30 {
  margin-right: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mr-40 {
  margin-right: 40px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.pt-0 {
  padding-top: 0;
}

.mb-60 {
  margin-bottom: 60px;
}

/** BACKGROUNDS **/
.background-light {
  position: relative;

  background: var(--color-light);
}

.background-light::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 10%;

  content: "";
}

.background-dark {
  position: relative;

  background: var(--color-braun);
}

.background-dark::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 10%;

  content: "";
}

/** HEADER **/
.title-image {
  position: absolute;
  top: 55px;
  left: 300px;

  height: 525px;
}

.button {
  display: block;
  width: 148px;
  height: 49px;
  margin-top: 40px;
  padding: 12px 24px;
  border: none;

  font: bold 16px/1.6em 'Open Sans', sans-serif;
  text-align: center;

  background: var(--color-main);
}

/** MAIN **/
.video {
  position: relative;
  z-index: 2;

  margin-top: 30px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.card {
  position: relative;
  top: -100px;
  z-index: 1;

  padding-top: 100px;

  background: var(--color-main-dark);
}

.white-block {
  display: block;

  text-decoration: none;

  background: var(--color-light);
}

.white-block:hover {
  color: var(--color-light);

  background: var(--color-main);
}

.white-block:hover h3 {
  color: var(--color-light);
}

.email-box p {
  position: absolute;
  top: 125px;
}

.white-block:hover p {
  color: var(--color-light);
}

.number {
  margin-bottom: 40px;

  color: var(--color-main-dark);

  font: 64px/1em 'Neucha', sans-serif;
}

.card-item {
  width: 302px;
  margin-bottom: 20px;
  padding: 24px 24px;
}

.card-title {
  width: 350px;
  margin-bottom: 20px;
}

/** SECTION **/
.image_section {
  width: calc(50% - 20px);

  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.bar {
  width: 100%;
  margin-top: 100px;
  /*margin-bottom: 20px;*/
}

.dark-bar {
  background: var(--color-braun);
}

.light-bar {
  background: var(--color-white);
}

.bar h5 {
  padding: 5px 10px;

  font: normal bold 14px/17px 'Open Sans', sans-serif;
}

/** FOOTER **/
.footer-bar {
  position: relative;

  width: 100%;

  background: var(--color-main-dark);
}

.footer-text {
  margin: 55px 55px;

  font: 34px 'Neucha', sans-serif;
}

.email {
  position: absolute;
  top: 75px;
  left: 0;

  width: 382px;
  height: 20px;

  margin: 0 0;
  padding: 15px;
  border: none;
}

.button-send {
  position: absolute;
  top: 75px;
  right: 55px;

  width: 70px;
  height: 50px;
  border: none;

  background: var(--color-main);
}

.button-send::before {
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;

  width: 30px;
  height: 30px;
  margin: 0 auto;

  background: url("images/send.svg");
  background-repeat: no-repeat;
  background-size: cover;

  content: "";
}

.email-box {
  position: absolute;
  top: 10px;
  right: 30px;
}

.email-box label {
  position: absolute;
  top: 38px;
  left: 0;

  width: 184px;
}
